$wide: (class-name: "flexile-aspect-wide", aspect-ratio: (16/9));
$monitor: (class-name: "flexile-aspect-monitor", aspect-ratio: (16/10));
$traditional: (class-name: "flexile-aspect-traditional", aspect-ratio: (4/3));
$square: (class-name: "flexile-aspect-square", aspect-ratio: 1);
$cinema: (class-name: "flexile-aspect-cinema", aspect-ratio: 2.39);
$a4-portrait: (class-name: "flexile-aspect-a4-portrait", aspect-ratio: 210/297);
$a4-landscape: (class-name: "flexile-aspect-a4-landscape", aspect-ratio: 297/210);


@mixin set-content-on-width($view, $width-percentage){
  &.#{map-get($view, class-name)}{
    .flexile-slide-content{
      width: $width-percentage;
      height: height-of-symmetric-border($width-percentage, map-get($view, aspect-ratio));
    }
  }
}


@mixin set-content-on-height($view, $height-percentage){
  &.#{map-get($view, class-name)}{
    .flexile-slide-content{
      height: $height-percentage;
      width: width-of-symmetric-border($height-percentage, map-get($view, aspect-ratio));
    }
  }
}


@function aspect-magnitude($aspect-ratio){
  $aspect: $aspect-ratio;
  @if $aspect-ratio < 1 {
    $aspect: 1/$aspect-ratio;
  }
  @return $aspect;
}
