.flexile-slideshow.flexile-theme-white{
  
  @include theme-base();
  color: #000000;
  
  .flexile-screen.flexile-fullscreen{
    background: black;
  }
  
  .flexile-slide{
    background-color: #ffffff;
  }
  
}