.flexile-slideshow{
  
  .flexile-transition-fade{
    will-change: opacity;
    &.flexile-slide-discard{
      opacity: 0;
    }
  }
  
  .flexile-transition-slide-right{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateX(105%);
    }
  }
    
  .flexile-transition-slide-left{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateX(-105%);
    }
  }
  
  .flexile-transition-slide-down{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateY(105%);
    }
  }
    
  .flexile-transition-slide-up{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateY(-105%);
    }
  }
  
  .flexile-transition-shrink{
    @include place-centre();
    &.flexile-slide-discard{
      height: 0;
      width: 0;
    }
  }
  
  .flexile-transition-squish-1{
    &.flexile-slide-discard{
      width: 0;
      height: 0;
    }
  }
  
  .flexile-transition-squish-2{
    right: 0;
    &.flexile-slide-discard{
      width: 0;
      height: 0;
    }
  }
  
  .flexile-transition-squish-3{
    right: 0;
    bottom: 0;
    &.flexile-slide-discard{
      width: 0;
      height: 0;
    }
  }
  
  .flexile-transition-squish-4{
    bottom: 0;
    &.flexile-slide-discard{
      width: 0;
      height: 0;
    }
  }

  
}
