@import "helpers";

.flexile-slideshow{
  @include reset();
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	position: relative;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  
	.flexile-screen{
    background: none;
		position: relative;
		width: 100%;
  }
  
  .flexile-box{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include place-centre();
  }
  
  .flexile-slide{
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
    &.flexile-animate-transition{
      transition-duration: 1s;
    }
    .flexile-slide-content > *{
      display: block;
      position: absolute;
    }
  }
  
  .flexile-slide-discard{
    transition-duration: 1s;
    pointer-events: none;
  }
  
  .flexile-transition-default, .flexile-transition-vanish{  
    &.flexile-slide-discard{
      display: none;
    }
  }  
  
  .flexile-slide-content{
    position: relative;
    border: 1px solid black;
    @include place-centre();
  }
  
}

@import "aspects";
@import "theme-base-rules";
@import "theme-light";
@import "theme-dark";
@import "theme-white";
@import "theme-black";

@import "helpers-transitions";
@import "transitions";
