.flexile-slideshow.flexile-theme-light{
  
  @include theme-base();
  color: #333333;
  
  .flexile-screen.flexile-fullscreen{
    background: black;
  }
  
  .flexile-slide{
    background-color: #dddddd;
  }
  
}