.flexile-slideshow{
  
  .flexile-transition-fade{
    transition-property: opacity;
    transition-duration: 1s;
    will-change: opacity;
    &.flexile-slide-discard{
      opacity: 0;
    }
  }
  
  
  .flexile-transition-slide-left{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateX(-105%);
    }
  }
  
  .flexile-transition-slide-up{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateY(-105%);
    }
  }  
  
  .flexile-transition-slide-right{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateX(105%);
    }
  }

  .flexile-transition-slide-down{
    will-change: transform;
    &.flexile-slide-discard{
      transform: translateY(105%);
    }
  }
    

  .flexile-transition-compress-left{
    will-change: transform;
    transform-origin: 0% 0%;
    transform: scale(1);
    &.flexile-slide-discard{
      transform: scale(0, 1);
    }
  }
  
  .flexile-transition-compress-up{
    will-change: transform;
    transform-origin: 0% 0%;
    transform: scale(1);
    &.flexile-slide-discard{
      transform: scale(1, 0);
    }
  }
  
  .flexile-transition-compress-right{
    will-change: transform;
    transform-origin: 100% 100%;
    transform: scale(1);
    &.flexile-slide-discard{
      transform: scale(0, 1);
    }
  }
  
  .flexile-transition-compress-down{
    will-change: transform;
    transform-origin: 0% 100%;
    transform: scale(1);
    &.flexile-slide-discard{
      transform: scale(1, 0);
    }
  }
  
  .flexile-box{
    perspective: 25em;
  }
  
  .flexile-transition-book-left{
    will-change: transform;
    transform-origin: 0% 100%;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
    &.flexile-slide-discard{
      transform: rotateY(-90deg);
      transition-timing-function: ease-out;
    }
  }
  
  .flexile-transition-book-up{
    will-change: transform;
    transform-origin: 0% 0%;
    transform: rotateX(0deg);
    transition-duration: 1.5s;   
    &.flexile-slide-discard{
      transform: rotateX(90deg);
      transition-timing-function: ease-out;
    }
  }
  
  .flexile-transition-faceplant{
    will-change: transform;
    transform-origin: 0% 100%;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transform: rotateX(0deg);
    &.flexile-slide-discard{
      transform: rotateX(-90deg);
    }
  }
  
  
  .flexile-transition-slide-across-right{
    transform: translateX(-105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateX(0);
    }
    &.flexile-slide-discard{
      transform: translateX(105%);
    }
  }
  
  .flexile-transition-slide-left-across{
    transform: translateX(105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateX(0);
    }
    &.flexile-slide-discard{
      transform: translateX(-105%);
    }
  }
  
  .flexile-transition-slide-down-across{
    transform: translateY(-105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
    &.flexile-slide-discard{
      transform: translateY(105%);
    }
  }
  
  .flexile-transition-slide-up-across{
    transform: translateY(105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
    &.flexile-slide-discard{
      transform: translateY(-105%);
    }
  }
  
  .flexile-transition-slide-right-down{
    transform: translateX(-105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
    &.flexile-slide-discard{
      transform: translateY(105%);
    }
  }
  
  .flexile-transition-slide-down-right{
    transform: translateY(-105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
    &.flexile-slide-discard{
      transform: translateX(105%);
    }
  }
  
  .flexile-transition-drop-in{
    transform: translateY(-105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
  }
  
  .flexile-transition-pop-up{
    transform: translateY(105%);
    will-change: transform;
    transition-duration: 1s;
    &.flexile-slide-top{
      transform: translateY(0);
    }
  }
  
  
  @include squash(shrink, 50%, 50%);
  @include squash(squash-1, 0%, 0%);
  @include squash(squash-2, 100%, 0%);
  @include squash(squash-3, 100%, 100%);
  @include squash(squash-4, 0%, 100%);
  
  @include rotate-clockwise(rotate-1, 0%, 0%);
  @include rotate-clockwise(rotate-2, 100%, 0%);
  @include rotate-clockwise(rotate-3, 100%, 100%);
  @include rotate-clockwise(rotate-4, 0%, 100%);
  @include rotate-anti-clockwise(rotate-1a, 0%, 0%);
  @include rotate-anti-clockwise(rotate-2a, 100%, 0%);
  @include rotate-anti-clockwise(rotate-3a, 100%, 100%);
  @include rotate-anti-clockwise(rotate-4a, 0%, 100%);
  
  @include spin-clockwise(spin-360, 360);
  @include spin-clockwise(spin-720, 720);
  @include spin-clockwise(spin-1080, 1080);
  @include spin-anti-clockwise(spin-360a, 360);
  @include spin-anti-clockwise(spin-720a, 720);
  @include spin-anti-clockwise(spin-1080a, 1080);
  
  
}
